.header-container {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #1a273e;
  color: rgb(0, 255, 0);
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: space-between;

  .logoutBtn {
    width: auto;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
