/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html {
  font-family: "Karla", sans-serif;
}
body {
  background-color: black;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: rgb(0, 250, 0);
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
